# Node modules
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
*.env

# Build output
dist/
build/

# Vite cache
.vite/

# VSCode settings
.vscode/

# OS / System files
.DS_Store
Thumbs.db

# Optional: PostgreSQL files (if exported)
*.sql
*.dump

# Optional: Ignore all coverage/test results
coverage/

# Optional: Yarn
.yarn/
.pnp.*
